/* body {
  font-family: sans-serif;
  text-align: center;
} */

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#navIcon h2 {
  display: inline-block;
  margin: none;
}

#navIcon img {
  animation: swingsidetoside 3s ease-in-out infinite;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.startGame {
  margin: 1%;
}

#map {
  height: 60vh;
  width: 100%;
  margin: auto;
}

.btn-info {
  margin: 2%;
}

.timer h3 {
  color: red;
}

@keyframes swingsidetoside {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
